Repository foglamp/FogLAMP, pull requests merged in 2018-03, with the labels that each got.

#521 FOGL-1017 - Unit tests for Scheduler
  python/foglamp/services/core/scheduler/entities.py
  python/foglamp/services/core/scheduler/scheduler.py
  tests/unit/python/foglamp/services/core/scheduler/test_scheduler.py
  tests/unit/python/foglamp/services/core/scheduler/test_scheduler_entities.py
Labels: unit tests

#618 FOGL-1105 create audit entry tests added
  python/foglamp/services/core/api/audit.py
  tests/unit/python/foglamp/services/core/api/test_audit.py
Labels: unit tests

#614 FOGL-1127 - Fetch support bundle functionality along with unit tests
  python/foglamp/services/core/api/support.py
  python/foglamp/services/core/routes.py
  tests/unit/python/foglamp/services/core/api/support/.gitkeep
  tests/unit/python/foglamp/services/core/api/test_support.py
Labels: architectural_review_done

#630 FOGL-1170 history ts format fixes for stats history
  python/foglamp/services/core/api/statistics.py
  tests/unit/python/foglamp/services/core/api/test_statistics_api.py
Labels: bug

#625 FOGL-1009 configuration api unit tests added
  python/foglamp/services/core/api/configuration.py
  tests/unit/python/foglamp/services/core/api/test_configuration.py
Labels: unit tests

#624 Fogl 1126 - Create support bundle
  .gitignore
  python/foglamp/services/core/api/support.py
  python/foglamp/services/core/support.py
  python/foglamp/services/core/syslog_parser.py
  tests/unit/python/foglamp/services/core/api/test_support.py
Labels: architectural_review_done

#634 FOGL-1072 - Unit tests for SensorTagCC2650
  python/foglamp/plugins/south/common/sensortag_cc2650.py
  tests/unit/python/foglamp/plugins/south/common/test_sensortag_cc2650.py
Labels: unit tests

#636 Fogl 1157 1158
  python/foglamp/common/web/middleware.py
  python/foglamp/services/core/api/auth.py
  python/foglamp/services/core/routes.py
  python/foglamp/services/core/server.py
  python/foglamp/services/core/user_model.py
  python/requirements.txt
  scripts/plugins/storage/postgres/init.sql
  tests/unit/python/foglamp/services/core/test_user_model.py
Labels: architectural_review_done

#659 auth bug fixes and improvements
  python/foglamp/services/core/api/auth.py
  tests/unit/python/foglamp/services/core/api/test_auth_optional.py
Labels: bug, enhancement

#654 FOGL-1188 auth optional tests added with TODO comments
  python/foglamp/services/core/api/auth.py
  python/foglamp/services/core/user_model.py
  tests/unit/python/foglamp/services/core/api/test_auth_optional.py
Labels: unit tests

#664 FOGL-1190 Soft delete the user in user management
  python/foglamp/services/core/api/auth.py
  python/foglamp/services/core/user_model.py
  tests/unit/python/foglamp/services/core/api/test_auth_optional.py
  tests/unit/python/foglamp/services/core/test_user_model.py
Labels: enhancement

#676 optional with forbidden for create, update, delete user & other enhancements
  python/foglamp/services/core/api/auth.py
  python/foglamp/services/core/server.py
  python/foglamp/services/core/user_model.py
  tests/unit/python/foglamp/services/core/api/test_auth_mandatory.py
  tests/unit/python/foglamp/services/core/api/test_auth_optional.py
  tests/unit/python/foglamp/services/core/test_user_model.py
Labels: enhancement, unit tests
