Repository foglamp/FogLAMP, pull requests merged in 2019-04, with the labels that each got.

#1490 FOGL-2623 add service system REST API tests added
  tests/system/python/api/test_service.py
  tests/system/python/conftest.py
  tests/system/python/plugin_and_service.py
Labels: System Test

#1483 FOGL-2625 system REST API tests added for statistics and statistics history
  tests/system/python/api/test_statistics.py
Labels: System Test

#1491 FOGL-2544: merge the SQlite plugin and the SQlite in memory pluing in…
  C/plugins/storage/sqlite/CMakeLists.txt
  C/plugins/storage/sqlite/common/connection.cpp
  C/plugins/storage/sqlite/common/connection_manager.cpp
  C/plugins/storage/sqlite/common/include/common.h
  C/plugins/storage/sqlite/common/include/connection.h
  C/plugins/storage/sqlite/common/include/connection_manager.h
  C/plugins/storage/sqlite/common/readings.cpp
  C/plugins/storage/sqlite/include/common.h
  C/plugins/storage/sqlite/include/connection.h
  C/plugins/storage/sqlitememory/CMakeLists.txt
  C/plugins/storage/sqlitememory/connection.cpp
  C/plugins/storage/sqlitememory/connection_manager.cpp
  C/plugins/storage/sqlitememory/plugin.cpp
  tests/unit/C/CMakeLists.txt
  tests/unit/C/cmake_sqlite/CMakeLists.txt
  tests/unit/C/cmake_sqlite/Findsqlite3.cmake
  tests/unit/C/plugins/storage/sqlitememory/CMakeLists.txt
  tests/unit/C/plugins/storage/sqlitememory/tests.cpp
Labels: DO NOT MERGE YET

#1511 FOGL-2704 System Test for egress to PI with scale-set filter plugin
  tests/system/python/conftest.py
  tests/system/python/e2e/test_e2e_pi_scaleset.py
Labels: System Test

#1479 FOGL-2574 - fix failing e2e notification system tests
  tests/system/python/data/notify35.py
  tests/system/python/e2e/test_e2e_notification_service_with_plugins.py
Labels: System Test

#1494 Fogl 2655 - Plugins snapshot
  .gitignore
  C/plugins/utils/CMakeLists.txt
  C/plugins/utils/extract_plugin_snapshot.cpp
  Makefile
  python/foglamp/services/core/api/snapshot/plugins.py
  python/foglamp/services/core/routes.py
  python/foglamp/services/core/snapshot.py
Labels: architectural_review_done

#1528 FOGL-2620: Add system tests for notification REST API
  tests/system/python/api/test_notification.py
  tests/system/python/e2e/test_e2e_notification_service_with_plugins.py
Labels: System Test

#1521 FOGL-2395 Basic system test for Enviro-pHAT RPi
  tests/system/python/rpi/test_e2e_rpi_ephat.py
Labels: System Test

#1465 FOGL-2614 browser system API tests added
  tests/system/python/api/test_browser_assets.py
  tests/system/python/data/dummyplugin.py
Labels: System Test

#1515 FOGL-2651 FogLAMP API to install plugins
  .gitignore
  C/plugins/utils/CMakeLists.txt
  C/plugins/utils/cmdutil.cpp
  C/plugins/utils/extract_plugin_snapshot.cpp
  Makefile
  python/foglamp/services/core/api/plugins/__init__.py
  python/foglamp/services/core/api/plugins/install.py
  python/foglamp/services/core/routes.py
  scripts/extras/foglamp.sudoers
  tests/unit/python/foglamp/services/core/api/plugins/test_install.py
Labels: architectural_review_done
